.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-padding-left-small {
  padding-left: 2rem;
}

.u-height-medium {
  height: 85%;
}
