.section-aboutMe {
  background-color: $color-grey-light-1;
  padding: 25rem 1rem;
  margin-top: -20vh;
}

.section-projects {
  padding: 8rem 2.5rem 25rem 2.5rem;
  background-image: linear-gradient(
    to left top,
    rgba($color-primary, 0.8),
    rgba($color-seconday, 0.8)
  );
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

@media (min-width: 0px) and (max-width: 799px) {
  .section-aboutMe {
    padding-top: 15rem;
    .u-margin-bottom-medium {
      margin-bottom: 25px;
    }
  }

  .section-projects {
    position: relative;
  }
}
