.section-aboutMe {
  background-color: $color-grey-light-1;
  padding: 25rem 1rem;
  margin-top: -20vh;
}

.section-skills {
  padding-top: 15rem;
}

.skill-display {
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: #ffffff;
  font-size: 18px;
  transition: all 1s ease;
}

.image-sequence img {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 120px;
}

.section-projects {
  padding: 8rem 2.5rem 25rem 2.5rem;
  background-image: linear-gradient(
    to left top,
    rgba($color-primary, 0.8),
    rgba($color-seconday, 0.8)
  );
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.showcase-bubbles {
  width: 70%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.showcase-bubble-container {
  padding-right: 10px;
}

.showcase-bubble {
  border-radius: 12px;
}

.showcase-bubble:hover {
  cursor: pointer;
}

.showcase-image {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.showcase-info {
  padding: 15px 30px;
  border-radius: 0px 0px 12px 12px;
  background-color: white;
}

.showcase-info > img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.showcase-info > p {
  display: inline-block;
  font-size: 0.9em;
  vertical-align: middle;
  color: $color-grey-dark;
  margin: 0;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #fff;
  background: #fff;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display: none;
}

@media (min-width: 0px) and (max-width: 799px) {
  .section-aboutMe {
    padding-top: 15rem;
    .u-margin-bottom-medium {
      margin-bottom: 25px;
    }
  }

  .section-projects {
    position: relative;
    height: 1000px;
  }

  .showcase-bubble-container {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
